@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div class="navbar-right">
    <button onclick="location.href='@Url.Action("NewMovie", "Movies")'" ;return false;><i class="btn btn-info">Add Movie</i></button>
</div>
<table class="table-hover table-bordered table-striped" >

    <thead>Movies Data</thead>
    <tr>
        <th>  Movies</th>

        <th> Number of copies</th>

        <th> Year of release</th>

        <th> Genre</th>
        <th>
            Details
        </th>
        <th>
            Edit
        </th>
    </tr>
    <tbody>
        @foreach (var movies in Model)
        {
            <tr>
                <td>
                    @movies.Name
                </td>
                <td>
                    @movies.NumberOfMovies
                </td>
                <td>
                    @movies.YearOfRelease
                </td>
                <td>
                    @movies.GenreOfMovie
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("Det", new { id = movies.Id })';return false;" class="btn btn-info">Details</button>
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("EditMovie","movies",  new { id = movies.Id })';return false;"class="btn btn-primary">Edit</button>
                </td>
               
            </tr>

        }
    </tbody>
</table>



