
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers</h2>
<div class="navbar-right">
    <button onclick="location.href='@Url.Action("New", "Customer")'" ;return false;><i class="btn btn-info">Add Customer</i></button>
</div>

<table class="table-hover table-bordered table-striped">
    <thead>
        Customers Data
    </thead>
    <tbody>
        <tr>
            <th>
                Name
            </th>
            <th>
                Id
            </th>
            <th>
                Subscribed To Newsletter
            </th>
            <th>

                Membership Type
            </th>
            <th>
                Discount rate
            </th>
            <th>
                Year Of Birth
            </th>

            <th>
                Details
            </th>
            <th>
                Edit
            </th>
        </tr>

        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @customer.Name
                </td>
                <td>
                    @customer.Id
                </td>
                <td>
                    @customer.IsSubscribedToNewsletter
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
                <td>
                    @customer.MembershipType.DiscountRate%
                </td>

                <td>
                    @{
                        var Birthdate = customer.Birthdate.Year;
                     }
                    @Birthdate
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("Det", new { id = customer.Id })';return false;" class="btn btn-info">Details</button>
                </td>
                <td>
                    <button onclick="location.href='@Url.Action("Edit", new { id = customer.Id })';return false;" class="btn btn-primary">Edit</button>
                </td>
             </tr>

        }
    </tbody>
</table>

